{% extends 'base.html' %}

{% block title %}
About page
{% endblock %}


{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
        </div>
    </div>
</header>
</br></br>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed facilisis metus. Suspendisse
                    scelerisque finibus orci, eget hendrerit ligula dignissim quis. Aenean condimentum lobortis mollis.
                    Nunc vestibulum rhoncus sapien, et efficitur dui. Aliquam at nisi lectus. Praesent finibus metus a
                    urna lacinia dictum. Suspendisse egestas leo nisl, a interdum ex consequat eu. Aenean eget euismod
                    erat, quis facilisis felis. Aliquam at ex mi. Nulla molestie varius vestibulum.
                </br></br>
                    Aenean dapibus mauris a risus faucibus iaculis. Suspendisse a augue at augue hendrerit hendrerit.
                    Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis sit amet
                    lacus finibus, ullamcorper risus vitae, egestas mi. Maecenas ut dictum enim. Etiam ac eros aliquam,
                    ultrices dui quis, venenatis nibh. Nam elementum nec mauris vitae rhoncus. Donec laoreet ex nec
                    velit suscipit, ac placerat sem aliquet. Nam pharetra id nunc eget ultricies. Nullam neque erat,
                    interdum quis massa non, ullamcorper fringilla massa. Nullam id quam eget nibh egestas viverra.
                    Mauris nec turpis varius, faucibus lectus eu, malesuada nulla. Donec eget metus massa. Nunc
                    tincidunt ex odio, non imperdiet risus ullamcorper in.
                </br></br>
                    Etiam sodales facilisis neque, ut pulvinar odio eleifend et. Pellentesque nec mi dignissim,
                    convallis neque in, tempus nulla. Donec sollicitudin dictum varius. Nunc in hendrerit odio. Integer
                    porttitor dui eget pharetra dictum. Cras elementum sapien at eros imperdiet, at imperdiet odio
                    pellentesque. Vestibulum tincidunt ex vel nibh pellentesque, in sagittis felis consequat. Donec nec
                    ante eu nisi molestie ullamcorper sit amet eu ipsum. Integer quis lorem condimentum, gravida ante
                    sed, elementum augue.

                </p>
            </div>
        </center>
    </div>
</div>

{% endblock %}