{% extends 'base.html' %}

{% block title %}
Not Shipped page
{% endblock %}


{% block content %}

<center>
    <h3>NOT Shippeds itmes</h3>
</center>


</br></br>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <table class="table table-striped table-hover table-bordered">
                    <thead class="table-dark">
                      <tr>
                        <th scope="col">Order</th>
                        <th scope="col">Price</th>
                        <th scope="col">Customer email</th>
                        <th scope="col">Date order</th>
                        <th scope="col">Shipping status</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for item in orders %}
                            <tr>
                                <td><a href="{%url 'orders' item.id %}">{{ item.id }}</a></td>
                                <td>{{ item.amount_paid }}</td>
                                <td>{{ item.email }}</td>
                                <td>{{ item.date_order }}</td>
                                <td>
                                    <form method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="shipping_status" value="true">
                                        <input type="hidden" name="num" value="{{item.id}}">
                                        <button type="submit" class="btn btn-success btn-sm">Mark shipped</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                  </table>
            </div>
        </center>
    </div>
</div>

{% endblock %}